*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	

	@include respond(tab-land) { // <1200px
		font-size: 56.25%;
	}

	@include respond(tab-port) { //<900px
		font-size: 50%;
	}


	@include respond(big-desktop) { // >1800px
		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port) { //<900px
		padding: 0;
	}

}

::selection {
	background-color: $color-primary;
	color: $color-white;
}